@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Montserrat:wght@100&family=Open+Sans:ital,wght@1,700&family=Quicksand&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Life Savers, sans-serif;
    text-decoration: none;
}

body {
    background-color: #FFEFE3;
    color: #584128;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(88, 65, 40, 0);
    color: #584128;
    padding: 0 10%;
    width: 60%;
    margin: 20px auto 50px;
}

.mainContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.maintitle {
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: #584128;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #584128;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.titleReminder {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left > img {
    margin-right: 8px;
}

.right {
    display: flex;
    align-items: center;
}

.right > img {
    margin-right: 8px;
}

.add {
    border-radius: 20px;
    text-decoration: none;
    background-color: #584128;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}

.add p {
    text-decoration: none;
}

.add:hover {
    background-color: #2c2109;
}

.reminders {
    display: flex;
    flex-wrap: wrap;
}

.reminder {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 10rem;
    background-color: #FFDD9F;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
    height: 1.5rem;
}

.reminder:hover {
    height: auto
}

.reminderHeadline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reminderHeadline > img {
    margin-right: 8px;
    width: 20px;
}

.details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.details > div {
    overflow: hidden;
}

.reminder:hover .details {
    grid-template-rows: 1fr;
}

.reminderHeadline > p {
    font-size: 1.2rem;
    font-weight: bolder;
}


.titleNotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNotes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.headerNotes > img {
    margin-right: 8px;
}

.note {
    background-color: #FFDD9F;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}

.NoteHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note .noteTitle {
    font-weight: bold;
    font-size: 2rem;
}

.note .content {
    font-family: Inter, sans-serif;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.note .flags {
    display: flex;
    flex-wrap: wrap;
}

.flags .flag{
    margin-top: 0.6rem;
    margin-right: 0.6rem;
    border-radius: 10px;
    background-color: #584128;
    color: white;
    padding: 0.5rem;
}

.flags .Urgent{
    background-color: #ef754f;
}

.flags .DueSoon{
    color: #584128;
    background-color: white;
}

.noteContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(4,1fr) ;
    gap: 0.7rem;
}

.note1 {
  grid-area: 1 / 1 / 2 / 2 ;
}
.note2 {
  grid-area: 1 / 2 / 3 / 3;
}
.note3 {
  grid-area: 3 / 3 / 7 / 7;
}


