@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Montserrat:wght@100&family=Open+Sans:ital,wght@1,700&family=Quicksand&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Life Savers, sans-serif;
    text-decoration: none;
}

body {
    background-color: #FFEFE3;
    color: #584128;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(88, 65, 40, 0);
    color: #584128;
    padding: 0 10%;
    width: 70%;
    margin: 20px auto 50px;
}

.mainContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.maintitle {
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: #584128;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #584128;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.titleReminder {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left > img {
    margin-right: 8px;
}

.right {
    display: flex;
    align-items: center;
}

.right > img {
    margin-right: 8px;
}

.add {
    border-radius: 20px;
    text-decoration: none;
    background-color: #584128;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}

.add p {
    text-decoration: none;
}

.add:hover {
    background-color: #2c2109;
}

.reminders {
    display: flex;
    flex-wrap: wrap;
}

.reminder {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 10rem;
    background-color: #FFDD9F;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
}


.reminder > img {
    margin-right: 8px;
    width: 20px;
    padding-left: 0;
}

.reminder > p {
    font-size: 1.2rem;
    font-weight: bolder;
}

.reminder:hover {
    height: auto;
}

.details {
    display: none;
    flex-direction: column;
}

.titleNotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNotes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.headerNotes > img {
    margin-right: 8px;
}

.note {
    background-image: url("../notes/Note1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


