@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Montserrat:wght@100&family=Open+Sans:ital,wght@1,700&family=Quicksand&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Life Savers, sans-serif;
    text-decoration: none;
}

body {
    background-color: #FFEFE3;
    color: #584128;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(88, 65, 40, 0);
    color: #584128;
    padding: 0 10%;
    width: 60%;
    margin: 20px auto 50px;
}

.mainContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.maintitle {
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: #584128;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #584128;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left > img {
    margin-right: 8px;
}

.right {
    display: flex;
    align-items: center;
}

.right > img {
    margin-right: 8px;
}

.add {
    border-radius: 20px;
    text-decoration: none;
    background-color: #584128;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}

.add p {
    text-decoration: none;
}

.add:hover {
    background-color: #2c2109;
}

.titleReminder {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reminders {
    display: flex;
    flex-wrap: wrap;
}

.reminder {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 10rem;
    height: 1.5rem;
    background-color: #FFDD9F;
    color: #584128;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);

}

.reminder:hover {
    height: auto;
}

.reminder:hover .reminderHeadline {
    flex-wrap: wrap;
}

.reminderHeadline {
    display: flex;
        /*flex-wrap: wrap;*/
    /*justify-content: c;*/
    /*flex-direction: column;*/
    align-items: flex-start;
}

.reminderHeadline > img {
    margin-right: 8px;
    width: 20px;
}

.details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    visibility: hidden;
}

.details > div {
    overflow: hidden;
}

.reminder:hover .details {
    grid-template-rows: 1fr;
    visibility: visible;
}

.reminderHeadline > p {
    font-size: 1.2rem;
    font-weight: bolder;
}


.titleNotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNotes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.headerNotes > img {
    margin-right: 8px;
}

.note {
    background-color: #FFDD9F;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}

.NoteHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note .noteTitle {
    font-weight: bold;
    font-size: 2rem;
}

.note .content {
    font-family: Inter, sans-serif;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.note .flags {
    display: flex;
    flex-wrap: wrap;
}

.flags .flag {
    margin-top: 0.6rem;
    margin-right: 0.6rem;
    border-radius: 10px;
    background-color: #584128;
    color: white;
    padding: 0.5rem;
}

.flags .Urgent {
    background-color: #ef754f;
}

.flags .DueSoon {
    color: #584128;
    background-color: white;
}

.noteContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.7rem;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFDD9F;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 20%;
    border-radius: 20px;
    min-width: 20%;
}

.form-popup h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: bolder;
}

.reminder-form-container input, .reminder-form-container textarea {
    /*width: 100%;*/
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    color: #2c2109;
    font-weight: bolder;
    box-sizing: border-box;
}

.reminder-form-container #titleR {
    width: 100%;
    padding-top: 0.3rem;
    padding-left: 0.6rem;
    margin: 0.5rem auto;
    font-size: 1rem;
    height: 2rem;
}

.reminder-form-container textarea {
    width: 100%;
    padding-top: 0.6rem;
    font-size: 1rem;
    padding-left: 0.6rem;
}


.reminder-form-container input::placeholder, .reminder-form-container textarea::placeholder {
    color: rgba(88, 65, 40, 0.47);
    font-weight: bolder;
    font-size: 0.9rem;
}


.reminder-form-container #detailsR {
    word-break: break-word;
    wrap-option: wrap;
    min-height: 15rem;
    max-height: 15rem;
    resize: none;
}


.reminder-form-container #dateR {
    color: #2c2109;
    width: 60%;
    padding-top: 0.3rem;
    padding-left: 0.6rem;
}


.reminder-form-container .Color-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid white;
    cursor: pointer;
}

.reminder-form-container .color1 {
    background-color: #FFDD9F;
}

.reminder-form-container .color2 {
    background-color: #584128;
}

.reminder-form-container .color3 {
    background-color: #ffffff;
}

.reminder-form-container .btn {
    text-align: center;
    background-color: #584128;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.3);
}


.reminder-form-container .dateColors {
    margin-top: 0.3rem;
}

.reminder-form-container .dateColors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.reminder-form-container .cancel {
    background-color: #EF754F;
}

.reminder-form-container .addR {
    margin-bottom: 10px;
    margin-top: 1rem;
}

.reminder-form-container .btn:hover, .open-button:hover {
    opacity: 1;
}